@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap");

body {
    line-height: 28px;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: #445c7b;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: K2D;
    line-height: 50px;
    font-weight: 600;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #2b2f58;
}

a,
a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus {
    border-color: #6346fe;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #6346fe;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #6346fe;
    outline: 0 none;
}

.elementor-text-editor {
    font-size: 18px;
    line-height: 30px;
    color: #445c7b;
}

.elementor-text-editor ul {
    list-style-image: url('../images/list-style.png');
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.space-bottom {
    margin-bottom: 90px;
}

.img-shadow {
    -webkit-box-shadow: 0px 30px 64px 16px rgba(129, 116, 254, 0.15) !important;
    box-shadow: 0px 30px 64px 16px rgba(129, 116, 254, 0.15) !important;
}

.animate-top,
.animate-bottom {
    transition: 0.2s;
}

.animate-top:hover {
    margin-top: -40px;
}

.animate-bottom:hover {
    margin-top: -40px;
}

.contact-info i {
    margin-right: 15px;
    font-size: 25px;
}

.contact-info p {
    margin-bottom: 0;
}

.contact-info .row {
    margin-bottom: 30px;
}

#preloader {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: table;
    text-align: center;
}

.spinner {
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }

    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }

    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}

@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }

    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }

    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}

@-webkit-keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }

    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }

    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}

@keyframes uil-ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
    }

    33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
    }

    100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
    }
}

.uil-ripple-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.uil-ripple-css div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    border-width: 12px;
    border-style: solid;
    -webkit-animation: uil-ripple 2s ease-out infinite;
    animation: uil-ripple 2s ease-out infinite;
}

.uil-ripple-css div:nth-of-type(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.navbar {
    padding: 20px 12px;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.navbar ul li {
    margin-bottom: 0;
}

.navbar-logo {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.navbar.navcolor .navbar-logo {
    color: #666;
}

.main-logo img,
.dark-logo img {
    width: 122px;
    height: 40px;
}

.dark-logo {
    display: none;
}

.navbar .nav-link {
    padding-right: 30px !important;
    color: #fff;
    padding-left: 0 !important;
    font-weight: 400;
}

.navbar.navcolor {
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
    padding: 20px 0;
    background: #fff;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(106, 82, 254, 0.07);
    box-shadow: 0px 20px 30px 0px rgba(106, 82, 254, 0.07);
}

.navbar .nav-link:hover,
.navbar .nav-link.active,
.navbar.navcolor .nav-link.active,
.navbar-nav .nav-item .nav-link:hover,
.navbar.navcolor .nav-link:hover {
    color: #11cffd;
}

.dropdown-item:hover {
    color: #fff;
}

.navbar.navcolor .nav-link {
    color: #2b2f58;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.section-title h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 48px;
    margin: 10px auto 39px;
}

.section-title>span {
    font-size: 21px;
}

.section-title.white {
    color: #fff;
}

.section-title.white span {
    color: #fff;
}

.banner {
    background: url(../images/header-banner.png) #46ffff;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 230px 0 250px;
}

.banner h1 {
    font-size: 52px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 55px;
    font-family: sans-serif;
}

.banner p {
    max-width: 600px;
    color: #fff;
}

.banner .bnr-btn ul li a {
    padding: 6px 20px;
    border: 1px solid #fff;
    border-radius: 49px;
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}

.banner .bnr-btn ul li a:hover,
.banner .bnr-btn .list-inline-item:not(:last-child) a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(44, 22, 146, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(44, 22, 146, 0.2);
    border: 1px solid;
}

.banner .bnr-btn {
    margin-top: 30px;
}

.banner .bnr-btn .list-inline-item:not(:last-child) a {
    background: #fff;
}

.gradient-bg .bnr-btn .list-inline-item a {
    padding: 10px 25px;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: inline-block;
}

.about-img {
    width: 518px !important;
    height: 545px !important;
}

.banner .banner4-image {
    right: 10%;
    position: absolute;
    top: 25%;
}

#about_me {
    padding: 100px 0;
}

.learnMore {
    margin: 50px 0;
}

.banner-3 span {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 20px;
}

.banner-3 h1 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 75px;
}

.banner-3 a {
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 30px;
}

.banner-3 p {
    font-size: 18px;
}

#services {
    background: #f5f5ff;
    background-image: url(../images/service-bg.png);
    background-repeat: no-repeat;
    padding: 100px 0;
}

.service-item {
    text-align: left;
    background: #fff;
    padding: 36px 18px;
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    cursor: pointer;
}

.service-icon {
    width: 50px;
}

.service-item h5 {
    margin-top: 40px;
    color: #1e0e6a;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}

.service-item p {
    margin-bottom: 0;
}

.service-item:hover {
    background-color: #51ace0;
}

.service-item:hover h5,
.service-item:hover p {
    color: #fff;
}

.gradient-bg {
    background: #1d6df3;
    text-align: center;
    color: #fff;
    padding: 25px 0;
}

.gradient-bg h1,
.gradient-bg h3 {
    color: #fff;
}

.gradient-bg i {
    font-size: 44px;
}

.gradient-bg h2 {
    font-family: K2D;
    font-size: 40px;
}

.gradient-bg h2,
.gradient-bg .bnr-btn {
    margin-top: 3%;
    color: #fff;
}

.gradient-bg .list-inline-item a {
    background-color: transparent;
}

.cta-btn a,
.cta-btn input {
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.cta-btn input:hover,
.cta-btn a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(44, 22, 146, 0.2);
    box-shadow: 0px 8px 10px 0px rgba(44, 22, 146, 0.2);
}

#portfolio-sec {
    padding: 80px 0 90px;
}

.portfolio-item {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 56px 14px rgba(186, 179, 226, 0.08);
    box-shadow: 0px 0px 56px 14px rgba(186, 179, 226, 0.08);
    margin-bottom: 30px;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.portfolio-description {
    padding: 10px;
}

.portfolio-item span {
    padding: 20px 30px 0;
    font-size: 16px;
    display: block;
}

.portfolio-item h5 {
    font-size: 19px;
    color: #2b2f58;
    font-weight: 600;
    padding: 7px 30px 20px;
    margin-bottom: 0;
    line-height: 26px;
}

.portfolio-item:hover {
    cursor: all-scroll;
}

.portfolio-item img {
    height: 500px;
    width: 500px;
}

.portfolio-item:hover,
.portfolio-item:hover span,
.portfolio-item:hover h5 {
    color: #fff;
}

.testimonials {
    overflow: hidden;
    margin-bottom: 110px;
}

.testimonial-item {
    padding: 40px 30px;
    background: #fff;
    margin: 30px 15px;
    box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
}

.testimonial-item p {
    margin-bottom: 14px;
    font-style: italic;
}

.testimonial-item h5 {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.testimonial-item span {
    font-size: 13px;
}

.testi-quote {
    position: absolute;
    bottom: 0;
    padding-left: 20%;
}

.testimonial-item i {
    font-size: 14px;
}

.testimonial-item .row img {
    margin-right: 0;
    border-radius: 50% !important;
}

.testimonial-item .list-inline {
    float: right;
    margin-top: 15px;
}

.testimonial-item .list-inline,
.testimonial-item .list-inline-item:not(:last-child) {
    margin-bottom: 0;
    color: #ffc800;
}

.testimonial-item .list-inline-item {
    margin-right: 5px;
}

.contact-us {
    padding: 100px 0 80px;
}

.widget {
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 56px 14px rgba(186, 179, 226, 0.08);
    box-shadow: 0px 0px 56px 14px rgba(186, 179, 226, 0.08);
    margin-bottom: 30px;
    border-radius: 6px;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget-title {
    color: #1e0e6a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 26px;
}

.widget>ul {
    margin: 0;
    padding: 0;
}

.widget ul li {
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666666;
}

.widget ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.widget ul li a {
    color: #666666;
}

.widget ul li span {
    float: right;
}

.contact-form input[type='email'],
.contact-form input[type='text'],
.contact-form input[type='number'] {
    height: 50px;
    margin-bottom: 30px;
    color: #6346fe;
    background: #f5f5ff;
    border: none;
}

.contact-form textarea {
    height: 150px;
    margin-bottom: 30px;
    color: #6346fe;
    background: #f5f5ff !important;
    border: none;
}

.contact-form .cta-btn input {
    border: none;
}

.site-footer {
    padding-top: 95px;
    padding-bottom: 50px;
    background: #242333;
}

.site-footer ul {
    padding: 50px 0 40px;
}

.site-footer ul li {
    list-style: none;
    margin: 0 25px;
}

.site-footer ul li a {
    color: #fff;
}

.site-footer .text-center>a {
    display: inherit;
}

.footer-copyright {
    text-align: center;
    color: #fff;
    background: #1d1c2a;
    padding: 15px 0;
}

.footer-copyright p {
    margin-bottom: 0;
    color: #c8c8cc;
}

.footer-widget {
    color: #c8c8cc;
    margin-bottom: 50px;
}

.footer-social ul li a {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 9px 4px;
    display: inline-block;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}


.footer-widget ul li a,
textwidget {
    color: #c8c8cc;
}

.footer-widget ul li a:hover {
    color: #fff;
    border: 1px solid #242333;
}

.footer-widget ul li a:hover i {
    color: #fff;
}

.footer-widget .widget-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.nav_menu-4,
.nav_menu-5,
.nav_menu-6 {
    text-align: center;
}

.menu {
    text-align: center;
}



.footer-logo-text {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .widget-title {
        text-align: left !important;
    }

    .nav_menu-4,
    .nav_menu-5,
    .nav_menu-6 {
        text-align: left;
    }

    .menu {
        text-align: left;
        margin-right: 60px !important;
    }
}


@media (max-width: 1024px) {
    .banner .bnr-btn {
        margin-bottom: 140px;
    }

    .banner h1 {
        font-size: 50px;
        line-height: 55px;
    }

    .portfolio-item h5 {
        line-height: 26px;
    }

    .banner {
        height: auto !important;
    }

    .banner-2 {
        height: 700px;
    }

    .animate-obj {
        display: none;
    }
}

@media (max-width: 991px) {

    .banner {
        padding-top: 150px;
        padding-bottom: 0;
    }

    .navbar .nav-link {
        color: #2b2f58;
    }

    .navcolor .navbar-nav {
        margin-top: 0 !important;
        padding: 25px 0 !important;
    }

    .fixed-top .navbar-nav {
        background: #fff;
        margin-top: 30px;
        padding: 25px;
    }

    .quote-btn {
        display: none;
    }
}

@media (max-width: 870px) {
    .about-div {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 768px) {

    .portfolio-item span {
        font-size: 15px;
    }

    .portfolio-item h5 {
        font-size: 19px;
    }

    .banner-3-content {
        text-align: center;
    }

    .banner h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .portfolio-item {
        margin: 0;
    }

    .footer-call-to-action a {
        padding: 10px 18px;
    }

    .footer-call-to-action h2 {
        font-size: 30px;
    }

    .footer-widget {
        margin-bottom: 50px;
    }

    .service-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 536px) {
    .contact-info>.col-sm-6>p {
        margin-bottom: 15px;
    }

    .contact-info i {
        margin-bottom: 20px;
    }
}

@media (max-width: 414px) {

    .banner h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .banner .bnr-btn ul li a {
        margin-right: 0;
    }

    .section-title>span {
        margin-bottom: 15px;
        display: block;
    }

    .section-title h1 {
        font-size: 32px;
        line-height: 30px;
    }

    .navbar {
        padding: 15px !important;
    }

    .navbar .nav-link {
        padding-right: 0px !important;
    }


    .navbar-toggler {
        padding: 0;
    }

    .navbar.navcolor {
        padding: 10px 15px;
    }

    .banner {
        padding: 150px 0 0;
        text-align: center;
    }

    .banner-3 {
        height: 540px;
    }

    .banner-3 h1 {
        margin-top: 20px;
        font-size: 32px;
        line-height: 40px;
    }


    .banner h1 {
        font-size: 32px;
    }

    .section-title {
        text-align: center;
    }

    .footer-call-to-action h2 {
        margin-bottom: 30px;
    }

    .banner-2 {
        height: 570px;
    }

    .banner-2 {
        text-align: center;
    }

    .banner-2 .bnr-btn ul li a {
        margin-right: 0;
    }

    .service-bg {
        padding: 40px 15px;
    }
}

@media (max-width: 320px) {
    .banner h1 {
        font-size: 26px;
    }

    .banner .bnr-btn ul li {
        margin-right: 0;
    }
}